@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
This is a small project done quickly (2 days) to demonstrate a few development features.
If you cannot access the database, I will leave the table creation scripts in the README, or if you know how to configure the IP to connect to the database, the server has a permission for the following IP: 201.43.124.212.
The idea is to update the project when i have more time.</p>
</div>
